<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css"/>
    <script src="../scripts/jquery-3.7.1.min.js"></script>
    <script src="../scripts/header.js"></script>
    <script src="../scripts/login.js"></script>
    <title>login</title>
</head>
<body>
    <div class="wrapper">
        <div id="mainWrap">
            <div id="header" class style="height:75px">
                <div class="header_ins">
                    <!--로고이미지-->
                    <div class="logo-img">
                        <a href="../main.html">
                            <img src="../images/png/logo.png">
                        </a>
                    </div>
                    <div class="menu">
                        <a href="/view/login.html">Login</a>
                        <a href="/view/register.html">join</a>
                    </div>
                    <!--서브메뉴-->
                    <div id="gnbMenu">
                        <ul>
                            <li>
                                <a href="">About</a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="">호텔소개</a>
                                        <a href="">오시는길</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Accomodation</a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="../accomodation/luxury.html">호텔형</a>
                                        <a href="">콘도형</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Reservation</a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="">객실/패키지 예약</a>
                                        <a href="">예약</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">News & Event</a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="">공지사항</a>
                                        <a href="">이벤트 & 프로모션</a>
                                        <a href="">자주하는 질문</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--오른쪽 메뉴-->
                    <div class="rightMenu">
                        <div class="timeImages"></div>
                        <ul>
                            <li>
                                <a href="" class="select_len_show">KOR</a>
                            </li>
                            <li>
                                <a href="" class="select_len">Eng</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 헤더이미지 -->
            <div id="container">
                <div id="headerImg">
                    <div class="headerTitle">
                        <span>Account</span>
                    </div>
                </div>
                <!-- 로그인 영역 -->
                <div class="main">
                    <div class="login">
                        <div class="login-wrap">
                            <div id="titleWrap">
                                <p class="title-name">Login</p>
                            </div>
                            <div class="login-form-wrap">
                                <div class="login-form">
                                    <div id="member">
                                        <div class="member-title">
                                            <h2>01. 회원</h2>
                                            <p>회원으로 예약할 경우 로그인 하시면 예약확인이 가능합니다.</p>
                                        </div>
                                        <!-- loMember= 회원로그인 -->
                                        <form class="form" id="loMember" name="loMember" method="post">
                                            <input type="hidden" id="nextURL" name="nextURL" value>
                                            <input type="hidden" id="loginSeCode" name="loginSeCode" value="id">
                                            <div class="form-field">
                                                <!-- 아이디 -->
                                                <div class="field-id">
                                                    <div class="form-column">
                                                        <input id="userId" name="userId" type="text" class="form-control" required placeholder="아이디">
                                                        <div class="form-check">
                                                            <!--아이디 저장-->
                                                            <input tpye="checkbox" class="form-check-input" name="idSave" id="idSave">
                                                            <label class="form-check-label" for="idSave">
                                                                <span class="text">아이디저장</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- 비밀번호 -->
                                                <div class="field-password">
                                                    <div class="form-column">
                                                        <input id="password" name="passowrd" type="password" class="form-control" required placeholder="비밀번호">
                                                    </div>
                                                </div>
                                                <!-- 로그인 버튼 -->
                                                <button class="loginBtn" id="loginBtn" style="background-color: black">로그인</button>
                                                <p class="or">
                                                    <span>OR</span>
                                                </p>
                                                <!-- <ul class="sns">
                                                    <li>
                                                        <button type="button" id="googleBtn" class="snsBtnGoogle" onclick="">google</button>
                                                    </li>
                                                    <li>
                                                        <button type="button" id="kakaoBtn" class="snsBtnKakao" onclick="">kaka</button>
                                                    </li>
                                                    <li>
                                                        <button type="button" id="naverBtn" class="snsBtnNaver" onclick="">Naver</button>
                                                    </li>
                                                </ul> -->
                                            </div>
                                        </form>
                                    </div>
                                    <!-- 비회원로그인 -->
                                    <div id="non-member">
                                        <div class="non-member-title">
                                            <h2>02. 비회원(예약확인)</h2>
                                            <p>비회원 예약 시, 예약번호를 입력하셔야 예약조회가 가능합니다.</p>
                                        </div>
                                        <form class="form" id="frmGuest" name="frmGuest" method="post" novalidate="novalidate">
                                            <div class="field-guest">
                                                <div class="field-guest-name">
                                                    <div class="form-column">
                                                        <input type="text" id="f_name" name="f_name" class="form-non-control" placeholder="이름">
                                                    </div>
                                                </div>
                                                <div class="field-guest-number">
                                                    <div class="form-column">
                                                        <input type="text" id="f_number" name="f_number" class="form-non-control" placeholder="예약번호">
                                                    </div>
                                                </div>
                                                <button class="checkGuest" id="checkGuest" style="background-color:gray">예약 확인</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="mypage-box">
                                    <div class="loginMenu">
                                        <p>회원가입</p>
                                        <a class="bt" href="#">회원가입</a>
                                    </div>
                                    <div class="loginMenu">
                                        <p>아이디 비밀번호 찾기</p>
                                        <a class="bt" href="#">아이디 찾기</a>
                                        <a class="bt" href="#">비밀번호 찾기</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>