<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css"/>
    <script src="../scripts/jquery-3.7.1.min.js"></script>
    <script src="../scripts/header.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div id="mainWrap">
            <div id="header" class style="height:75px">
                <div class="header_ins">
                    <!--로고이미지-->
                    <div class="logo-img">
                        <img src="../images/png/logo.png" href="../main.html">
                    </div>
                    <div class="menu">
                        <a href="view/login.html">Login</a>
                        <a href="view/register.html">join</a>
                    </div>
                    <!--서브메뉴-->
                    <div id="gnbMenu">
                        <ul>
                            <li>
                                <a href="">About</a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="">호텔소개</a>
                                        <a href="">오시는길</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Accomodation</a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="">호텔형</a>
                                        <a href="">콘도형</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">Reservation</a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="">객실/패키지 예약</a>
                                        <a href="">예약</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="">News & Event</a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="">공지사항</a>
                                        <a href="">이벤트 & 프로모션</a>
                                        <a href="">자주하는 질문</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--오른쪽 메뉴-->
                    <div class="rightMenu">
                        <div class="timeImages"></div>
                    </div>
                </div>
            </div>
            <!-- 헤더이미지 -->
            <div id="container">
                <div id="headerImg">
                    <div class="headerTitle">
                        <span>Account</span>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>